BR2_mips=y
BR2_mips_32r2=y
BR2_KERNEL_HEADERS_4_19=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_DEFCONFIG="ocelot"
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2019.04-rc1"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="mscc_ocelot"
